<launch>

    <node name="planner" pkg="hybrid_astar" type="planner" output="screen"> 
        <param name="publish_all" value="true"/>
        <param name="map_topic" value="/map"/>
        <param name="odom_topic" value="/odom"/>
        <param name="goal_topic" value="/goal_point"/>
        <param name="path_topic" value="/path"/>
        <param name="poses_topic" value="/poses"/>
        <param name="twist_topic" value="/twist"/>
        <param name="frame_id" value="map"/>
        <param name="publish_rate" value="1"/>
    </node>

</launch>